<h1>My Resume</h1>
<h3><%= link_to 'View as PDF', "/cv.pdf" %></h3>
<%= image_tag 'Resume1.png', :class => "relate_sidebar_image", :size => "1100x1424"%>
<%= image_tag 'Resume2.png', :class => "relate_sidebar_image", :size => "1100x1424" %>
<br />
