<div class="holy_city_poems">
    <p>To Cythera</p>
    <br />
    <p>With all your knots loosed and daily</p>
    <p>moorings – one by one, inexorably – pulled</p>
    <p>don’t forget to take with you your elements,</p>
    <p>your lion stone, and the fallen oak leaves.</p>
    <p>You still have time to lilt along</p>
    <p>to all treetop birds, and to forge again</p>
    <p>the presence of your high porch</p>
    <p>and wind-swept parades, especially</p>
    <p>the clockwork of Fort Hill with your blood</p>
    <p>the fiery coke, tempered by your thousand</p>
    <p>oaths. Pack, pack this steel with you</p>
    <p>with the steep churchyard skies, the glass</p>
    <p>of the Charles, the ghosts of all doubt</p>
    <p>and everything else you leave behind.</p>
</div>